alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
dulwich==0.19.8
flake8==3.6.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==4.3.0
mypy-extensions==0.4.1
packaging==18.0
pbr==5.1.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
pyparsing==2.3.0
pytest==3.10.1
pytz==2018.7
PyYAML==3.13
reno==2.11.2
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-autodoc-typehints==1.5.0
sphinx-rtd-theme==0.4.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
